<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="/css/bootstrap.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<h4 class="mt-3">Curve id</h4>
			<input class ="w-100" type="number" th:field="*{curveId}"></input>
			<span class="text-danger"  th:if="${#fields.hasErrors('CurveId')}" th:errors="*{curveId}"></span>
			<h4 class="mt-3">Term</h4>
			<input class ="w-100" type="number" th:field="*{term}" required></input>
			<h4 class="mt-3">Value</h4>
			<input class ="w-100" type="number" th:field="*{value}" required></input>

			<div class="mt-4">
				<a th:href="@{/curvePoint/list}" class="btn btn-danger ml-3">Cancel</a>
				<button class="btn btn-primary">Add CurvePoint</button>
			</div>

		</form>
	</div>

</div>
</body>
</html>