<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Boot</title>
	<link rel="stylesheet" href="/css/bootstrap.css">

</head>

<body>
	<h3>Access Denied Exception</h3>
	<div>
	</div>
	<p class="text-danger">You do not have the proper priviledge to access this webpage.</p>
	<p class="text-danger">Contact admin if you need to upgrade your priviledge.</p>
	<p class="text-danger">return to previous page or type the URL wanted.</p>
</body>

</html>